    <!-- Educacion -->

    <section class="edu section" id="edu">
      <div class="container">
        <div class="section-title">
            <h2>Educación</h2>
        </div>
      </div>
      <div class="exp2">
      <div class="row align-items-center me-2">
        <div class="col-md-auto"> <!-- Logos -->
          <div class="ps-4 logo">
            <img src="../assets/img/universidad_nacional_del_sur.png" alt="">
          </div>
        </div>
        <div class="col-md-auto">  <!-- Iconos -->
          <div class="icon d-flex align-items-center">
            <i class="fas fa-arrow-circle-right"></i>
          </div>
        </div>
        <div class="col-md-4">  <!-- Parrafos -->
          <div class="ps-lg-4 m-5 parrafos">
            <h5>Contador Publico Nacional</h5>
            <h6>Universidad Nacional Del Sur - (2016 - Presente)</h6>
            <p>Actualmente cursando materias del último año de la carrera. Materias Aprobadas: 75%.</p>
          </div>
        </div>
      </div>
      <div class="row align-items-center me-2">
        <div class="col-md-auto"> <!-- Logos -->
          <div class="ps-4 logo">
            <img src="../assets/img/descarga.jfif" alt="">
          </div>
        </div>
        <div class="col-md-auto ">  <!-- Iconos -->
          <div class="icon">
            <i class="fas fa-arrow-circle-right"></i>
          </div>
        </div>
        <div class="col-md-4">  <!-- Parrafos -->
          <div class="ps-lg-4 m-5 parrafos">
            <h5>Técnico en Gestión Organizacional</h5>
            <h6>Escuela Técnica N° 3 - René Favaloro - (2004 - 2006)</h6>
            <p>Áreas Modulares: Gestión, Administración de RRHH, Dinámica empresarial, Sistemas de información Contable.</p>
          </div>
        </div>
      </div>
      <div class="row align-items-center me-2">
        <div class="col-md-auto"> <!-- Logos -->
          <div class="ps-4 logo">
            <img src="../assets/img/Udemy_logo.svg.png" alt="">
          </div>
        </div>
        <div class="col-md-auto">  <!-- Iconos -->
          <div class="icon">
            <i class="fas fa-arrow-circle-right"></i>
          </div>
        </div>
        <div class="col-md-4">  <!-- Parrafos -->
          <div class="ps-lg-4 m-5 parrafos">
            <h5>Curso Power BI y Excel - Análisis de datos</h5>
            <h6>Udemy - (2021)</h6>
          </div>
        </div>
      </div>
      <div class="row align-items-center me-2">
        <div class="col-md-auto"> <!-- Logos -->
          <div class="ps-4 logo">
            <img src="../assets/img/min_desarrollo_productivo.png" alt="">
          </div>
        </div>
        <div class="col-md-auto">  <!-- Iconos -->
          <div class="icon">
            <i class="fas fa-arrow-circle-right"></i>
          </div>
        </div>
        <div class="col-md-4">  <!-- Parrafos -->
          <div class="ps-lg-4 m-5 parrafos">
            <h5>Argentina Programa - #SeProgramar</h5>
            <h6>Ministerio de Desarrollo Productivo y Cámara de la Industria Argentina del Software - (2020)</h6>
          </div>
        </div>
      </div>
      <div class="row align-items-center me-2">
        <div class="col-md-auto"> <!-- Logos -->
          <div class="ps-4 logo">
            <img src="../assets/img/Udemy_logo.svg.png" alt="">
          </div>
        </div>
        <div class="col-md-auto">  <!-- Iconos -->
          <div class="icon">
            <i class="fas fa-arrow-circle-right"></i>
          </div>
        </div>
        <div class="col-md-4">  <!-- Parrafos -->
          <div class="ps-lg-4 m-5 parrafos">
            <h5>Curso de Python 3</h5>
            <h6>Udemy - (2020)</h6>
          </div>
        </div>
      </div>
      <div class="row align-items-center me-2">
        <div class="col-md-auto"> <!-- Logos -->
          <div class="ps-4 logo">
            <img src="../assets/img/cursosgratuitoscoursera.png" alt="">
          </div>
        </div>
        <div class="col-md-auto">  <!-- Iconos -->
          <div class="icon">
            <i class="fas fa-arrow-circle-right"></i>
          </div>
        </div>
        <div class="col-md-4">  <!-- Parrafos -->
          <div class="ps-lg-4 m-5 parrafos">
            <h5>Introducción a la Programación en Python</h5>
            <h6>Coursera - (2020)</h6>
          </div>
        </div>
      </div>
      </div>
    </section>